//Menu en sección administrativa
body.adminimal-admin-toolbar {
  .main-header {
    margin-top: 79px;

    .block.block--abogados-main-menu {
      background-color: rgba($azul-3, .95);
    }
  }
}

//Menú en sección de Inicio después del Header
.path-frontpage {
  .main-header.scroll-header {
    .block.block--abogados-main-menu {
      background-color: rgba($azul-3, .95);
    }
  }
}

//Menú en sección de Inicio
.path-frontpage {
  .main-header {
    .block.block--abogados-main-menu {
      background-color: rgba($azul-3, .75);
    }
  }
}

//Menú en noticias
.page-node-type-new {
  .main-header{
    .block.block--abogados-main-menu {
      background-color: rgba($azul-3, .95);
    }
  }

  .page {
    margin-top: 120px;
  }
}

.main-header {
  top    : 0;
  z-index: 9;
  width  : 100%;

  position          : fixed;
  //background-color: rgba(1, 17, 38, 0.89);
  transition        : all .5s;

  .block.block--abogados-main-menu {
    width     : 100%;
    height    : 90px;
    transition: all 0.5s;
    position  : relative;

    .main-menu {
      width    : 100%;
      height   : 100%;
      margin   : 0 auto;
      padding  : 0 20px;
      max-width: 1200px;
      position : relative;


      .main-brand {
        width         : 100%;
        height        : 100%;
        max-width     : 350px;
        vertical-align: top;
        display       : inline-block;
        transition    : all 0.5s;

        .navbar-brand {
          padding       : 0;
          position      : absolute;
          bottom        : 0;
          padding-bottom: 20px;

          img {
            width     : 270px;
            transition: all 0.3s linear;
          }
        }
      }

      .content-menu {
        float: right;

        .menu-main.level-1 {
          padding   : 50px 0 0 0;
          transition: 0.5s all;
          margin    : 0;
          list-style: none;

          .item-navegation {
            padding-bottom: 16px;
            box-sizing    : border-box;
            margin        : 0 15px;
            position      : relative;
            display       : inline-block;

            &:hover {
              .link-item {
                padding      : 5px;
                border-bottom: 2px solid $blanco-azul;
              }

              .menu-level-2 {
                display: block;
              }
            }

            .link-item {
              color          : $blanco-azul;
              text-decoration: none;
              font-weight    : 500;
              font-size      : 1rem;
              padding        : 5px;
              border-bottom  : 2px solid transparent;
              transition     : all 0.3s linear;
            }

            .menu-level-2 {
              display         : none;
              position        : absolute;
              padding         : 0;
              top             : 40px;
              background-color: rgba($azul-3, .89);
              width           : 130%;
              transition      : all 0.3s linear;
              list-style      : none;

              .item-navegation-1 {
                margin : 0;
                padding: 10px 15px;
                display: block;

                &:hover {
                  background-color: rgba($blanco-azul, .79);

                  .link-item-1 {
                    color: $azul-3;
                  }
                }

                .link-item-1 {
                  color          : $blanco-azul;
                  text-decoration: none;
                }
              }
            }
          }

          .item-navegation.item-dropdown {
            &::after {
              content              : "";
              width                : 5px;
              height               : 13px;
              margin-top           : -1px;
              display              : inline-block;
              vertical-align       : middle;
              background-size      : cover;
              background-repeat    : no-repeat;
              background-position-x: -10px;
              transition           : all 0.5s;
              background-image     : url(/themes/custom/abogados/assets/img/figuras/arrows.png);
              transform            : rotate(90deg);
            }
          }
        }
      }
    }
  }
}