<section class="work-experience">
	<div class="card-work-experience">
		<div class="work-details">
			<p>{{paragraph.field_url.value}}</p>
			<p>{{paragraph.field_title.value}}</p>
		</div>
		<div class="details-work">
			{{paragraph.field_summary.value|raw}}
		</div>
	</div>
</section>
