<section class="cite">
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<blockquote cite="{{paragraph.field_title.value}}">
					{{paragraph.field_summary.value|raw}}
				</blockquote>
			</div>
		</div>
	</div>
</section>
