<section id="primary-slider">
<div class="primary-slider owl-carousel owl-theme">
				{% for item in paragraph.field_primary_slider %}
					<div class="item">
						<div class="img-slider-principal">
							<picture>
								<img src=" {{ file_url(item.entity.field_image.entity.fileuri) }}" alt="{{ item.entity.field_image.alt }}">
							</picture>
						</div>
					</div>
				{% endfor %}
	</div>
</section>
