<div class="contact-information">
  <div class="item-information phone">
    <p><i class="fas fa-phone-alt"></i> {{ paragraph.field_phone.value }}</p>
  </div>
  <div class="item-information email">
    <a href="mailto:{{ paragraph.field_email.value }}"><i class="far fa-envelope"></i> {{ paragraph.field_email.value }}</a>
  </div>
  <div class="item-information schedule">
    <p><i class="far fa-clock"></i> {{ paragraph.field_schedule.value }}</p>
  </div>
</div>