{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */
#}
{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
	<ul class="social-network-list">
		{% for item in items  %}
			{% set menu_item_classes = 'social-network-item'%}
			<li{{item.attributes.addClass(menu_item_classes)}}>
				<a class="social-network-link" href="{{ item.url }}" target="_blank">
					{% if item.content|without('field_social_network')  %}
						{{ item.content|without('field_social_network')  }}
					{% endif %}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endmacro %}
